*{
  box-sizing: content-box;
  margin: 0;
}

body{
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

button,
input,
textarea{
    font-family: 'Lato', sans-serif;
}

.line-button{
    position: relative;
    padding: 18px 30px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    cursor: pointer;
    border-radius: 5px;
}

.line-button::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #0066FF;
    transition: width 250ms ease-in;
}

.line-button:hover::after{
    width: 100%;
}