.like-button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  /* ▼ WHERE YOUR CODE BEGINS */
  *{
      box-sizing: border-box;
      margin: 0;
  }

  body{
     font-family: 'Poppins', sans-serif;
      background-color: beige;
  }

  .sr-only{
      position: absolute;
      z-index: -100;
      width: 1px;
      height: 1px;
      overflow: hidden;
      opacity: 0;
  }


  .card{
      display: flex;
      width: 840px;
      background-color: white;
  }

  .card-image{
      width: 300px;
      height: 200px;
      background-image: url(./assets/img-house.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      border-radius: 6px;
      margin: 24px;
      overflow: hidden;
  }

  .card-content{
      flex-grow: 1;
      margin-right: 24px;
  }

  .like-button{
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border-style: none;
      background-image: url(./assets/icon-favorite.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 24px 24px;
      cursor: pointer;
      margin: 12px;
  }

  .plus-badge{
      display: inline-block;
      font-size: 14px;
      line-height: 1.4285714286;
      background-color: #92174D; 
      border-radius: 4px;
      color: white;
      padding: 1px 8px;
      font-weight: 500;
      text-transform: uppercase;
      margin-right: 6px;
  }

  .property-type,
  .property-rate{
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;
  }

  .property-type span,
  .property-rate span{
      color: #7D858F;
  }

  .card-header{
      display: flex;
      justify-content: space-between;
  }

  .property-type{
      padding-top: 27px;
  }

  .property-rate{
      padding-top: 27px;
  }
  
  .property-rate::before {
    content: '';
    position: relative;
    top: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(./assets/icon-star.svg );
    background-repeat: no-repeat;
    background-position: center center;
  }

   
  .card-title{
      font-size: 20px;
      line-height: 1.6;
      font-weight: 400;
      margin-top: 8px;
      color: #151b26;
  }

  
  .property-detail{
      font-size: 14px;
      color: #7D858F;
    }
    
  .card-detail span{
        color: #7D858F;
    }

  .property-detail dd span::after{
        content: '·';
        margin: 0 8px;
    }
    
  .property-detail dd span:last-child::after{
        content: '';
        margin: 0;
    }

  .property-detail div:first-child{
        margin-bottom: 8px;
    }